/* Write your global styles here, in PostCSS syntax */

@tailwind base;

@layer base {
  body {
      @apply bg-slate-950 aspect-square text-gray-300;
  }
}


@tailwind components;

@tailwind utilities;
